//
// product-cart.scss
//

.product-cart {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 18px;
    transition: transform 0.2s;

    .product-name{
        display: flex;
        justify-content: center;
    }

    .item-info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .mt-3 {
            margin-top: unset !important;
            width: 65%;
        }
    }

    .add-btn{
        color: black;
    }


    .price {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        font-family: Impact;
        font-size: 1.6rem;
        
        .bigger {
            line-height: 1em;
            font-size: 1em;
            display: flex;
            gap: 0.05em;

            .number {
                text-decoration: underline 4px;
            }
        }

        .thinner {
            font-size: .5em;
        }
    }


    .py-4 {
        padding-bottom: 0px !important;

        .gallery-product {
            img {
                width: 16rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                border-radius: 18px;
            }


        }
    }
}

.swiper-slide {
    padding-top: 8px;

    .product-cart {
        .py-4 {
            .gallery-product {
                img {
                    width: 100% !important;
                }
            }
        }
    }
}

.product-cart:hover {
    transform: scale(1.03);
}
