.categrory-widgets {
    position: relative;

    .category-img {
        position: absolute;
        right: -20px;
        bottom: 0;
        max-width: 120px;
        opacity: 0.25;
    }
}

#remove-actions {
    display: none;
}



.category-page {
    .title {
        font-size: large;
        padding-bottom: 1em;
        color: #838383;
    }

    .banner {
        width: 100%;
        border-radius: 30px;
        margin-bottom: 3rem;
        height: 30rem;
        object-fit: cover;
        object-position: 0% 80%;
    
    }

    .products {
        .product-cart {
            width: 22%;
        }

        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .product-row{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 3%;
        }
    }
}